<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hidden@example.com</string>
	<key>contactName</key>
	<string>James Callender</string>
	<key>description</key>
	<string>Bundle for editing and running Sif files.</string>
	<key>name</key>
	<string>Sif</string>
	<key>uuid</key>
	<string>B3417304-D1F3-49FA-BFA1-9E836C2CA99A</string>
</dict>
</plist>
